
#body {
    background-image: url(/docs/assets/images/4.png);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}


.myCanvas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: baseline;
}

.bbody{
display:flex;
flex-direction: row;
flex-wrap: wrap;
}


h1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family: 'Minardi Collage', sans-serif;
    color: black;
}

#instrutions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: baseline;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Minardi Collage', sans-serif;
    color: black;
    font-size: 20px;
}

.h2 {
    padding-left: 50px;
}

img { 
    padding-top: 20px;
    width: 150px;
}

#start-button {
margin-left: 1150px;
width: 300px;
height: 100px;
font-family: 'Minardi Collage', sans-serif;
font-size: 25px;
background: none;
border: none;
}

#start-screen { 
 width: 695px;
 height: 795px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute; 
 padding-left: 20px;
 padding-top:20px;
}

#game-over { 
    margin-left: 617px;
    width: 701px;
    height: 780px;
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    font-family: 'Minardi Collage', sans-serif;
    background-image: url(/docs/assets/images/4.png);
   }

.hidden{
    display: none !important;
}

.toobad {
    margin-top: 300px;
    font-size: 20px;
}

#restart-button {
    width: 300px;
    height: 100px;
    margin-left: 115px;
    font-family: 'Minardi Collage', sans-serif;
    font-size: 25px;
    border: none;
    background: none;
    }

#game-win {
    margin-left: 617px;
    width: 701px;
    height: 780px;
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    font-family: 'Minardi Collage', sans-serif;
    background-image: url(/docs/assets/images/4.png);
   }

   .congrats {
    margin-top: 300px;
    font-size: 20px;
}

#btn {
    width: 300px;
    height: 100px;
    margin-left: 115px;
    font-family: 'Minardi Collage', sans-serif;
    font-size: 25px;
    border: none;
    background: none;
    }

.collect {
    margin-right: 70px;



}

.coins1 {
    padding-top: 50px;
}

.coins {
    width: 250px;
}

.right {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    font-size: 20px;
    font-family: 'Minardi Collage', sans-serif;
    margin-top: 20px;

    }

    .avoid{
  margin-top: 160px;
  margin-right: 100px;
    }

    .images2 {
 margin-left: 110px;
            }

 .images {
margin-left: 100px;
    }

.cheap {
    width: 70px;
}
.cheap1 {
    width: 70px;  
}
.cheap2 {
    width: 70px;  
}
.cheap3 {
    width: 70px;  
}
.cheap4 {
    width: 70px;  
}
.cheap5 {
    width: 70px;  
}
.cheap6 {
    width: 70px;  
}
.cheap7 {
    width: 70px;  
}

.collect{
    margin-top: 30px;
    margin-right: 120px;
      }

.exp {
    width: 70px;  
}

.exp1 {
    width: 70px;  
}

.exp2 {
    width: 70px;  
}

.exp3 {
    width: 70px;  
}

.exp4 {
    width: 70px;  
}


   




