
#body {
    background-image: url(/docs/assets/images/4.png);
    background-size: cover;
    margin: 0px;
    padding: 0px;

}

#canvas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: baseline;
}

.bbody{
display:flex;
flex-direction: row;
flex-wrap: wrap;
}

h1 { 
    font-size: 50px;
    font-family: 'Minardi Collage', sans-serif;
    text-align: center;
    color: black;
}

#instrutions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: baseline;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Minardi Collage', sans-serif;
    color: black;
    font-size: 20px;
}


.h2 {
    padding-left: 50px;
}

.instructions{
    padding-top: 200px;
    padding-right: 50px;
}

img { 
    padding-top: 50px;
    padding-left: 100px;
    width: 200px;
}

#restart-button {
    width: 150px;
    height: 100px;
    margin-left: 1200px;
    font-family: 'Minardi Collage', sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    }

#start-button {
margin-left: 1200px;
width: 150px;
height: 100px;
font-family: 'Minardi Collage', sans-serif;
font-size: 20px;
border: none;
background: none;
}

#start-screen { 
 width: 695px;
 height: 795px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute; 
 padding-left: 20px;
 padding-top:20px;
}

#game-over { 
    width: 695px;
    height: 795px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    font-family: 'Minardi Collage', sans-serif;
   }

.hidden{
    display: none !important;
}

#congrats {
    width: 700px;
    height: 800px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
   }

.collect {
    margin-right: 00px;
    float: right;
    font-size: 20px;
    font-family: 'Minardi Collage', sans-serif;
}

.imgobj {
 
    width: 200px;
    
}



   




